<app-listdemo></app-listdemo>

<!--<p>hello World</p>-->
<!--<app-event></app-event>-->

<!--<hr>-->
<!--  {{ title | uppercase }}-->
<!--<hr>-->
<!--{{ pipeDemo | json}}-->
<!--<hr>-->


<!--<ul>-->
<!--  <li *ngFor="let event of events">{{ event }}</li>-->
<!--</ul>-->

<!--<hr>-->
<!--  {{homeWorkPipe | json | uppercase }}-->
<!--<hr>-->

<!--<ul>-->
<!--  <li *ngFor="let homeWorkEvent of homeWorkEvents"> {{ homeWorkEvent }} </li>-->
<!--</ul>-->

<!--<input type="text" [(ngModel)]="inputContent">-->
<!--<div>-->
<!--  {{inputContent}}-->
<!--</div>-->

<!--<div *ngIf="show">-->
<!--  <p>Nov No</p>-->
<!--</div>-->


<!--<div [ngClass]="{ 'valami' : show}">-->
<!--  <p>ngClass demo</p>-->
<!--</div>-->

<!--<button-->
<!--  (click)="toggle()"-->
<!--  (mouseover)="demo($event)"-->
<!--  [disabled]="klikkeljukbe"-->
<!--&gt;Toggle</button>-->

<!--<app-alma ></app-alma>-->
<!--<app-alma ></app-alma>-->
<!--<app-alma ></app-alma>-->
<!--<app-alma ></app-alma>-->
